<form>
    <table>
        <tr>
            <td class="label">New Password:</td>
            <td class="inp"><app-text-input [formControl]="passwordForm.controls['password']" [label]="'New password'" [type]="'password'"></app-text-input></td>
        </tr>
        <tr>
            <td class="label">Repeat new Password:</td>
            <td><app-text-input [formControl]="passwordForm.controls['repeatPassword']" [label]="'Repeat password'" [type]="'password'"></app-text-input></td>
        </tr>
        <tr>
            <td class="label">Current Password:</td>
            <td><app-text-input [formControl]="passwordForm.controls['oldPassword']" [label]="'Current password'" [type]="'password'"></app-text-input></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="btn-group d-flex">
                    <button [disabled]="!passwordForm.valid" class="btn btn-primary" (click)="changePassword()">Change password</button>
                </div>
            </td>
        </tr>
    </table>
    
</form>
