<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">Dating App</a>
            <ul class="navbar-nav mr-auto" id='userLinks'>
                <ng-container *ngIf="accountService.currentUser$ | async">    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active" >Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="active" >Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active" >Messages</a>
                    </li>
                    <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
                        <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active" >Admin</a>
                    </li>
                    
                    <form class="form-inline" (ngSubmit)="search()">
                        <input type="text"
                               name="searchString"
                               placeholder="Search..."
                               [(ngModel)]="searchString"
                               class="form-control col ml-3"
                               autocomplete="off">
                        <span class="ml-1" style="color: white;" (click)="search()"><i class="fa fa-search fa-2x px-2"></i></span>
                    </form>
                </ng-container>
            </ul>

            <div id="userMenu" class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <img src="{{user.profilePhotoUrl || './assets/user.png'}}">
                <a class="dropdown-toggle text-login ml-3" dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a href="" class="dropdown-item" [routerLink]="['/members', user.username]">Profile</a>
                    <a class="dropdown-item" routerLink="/member/edit">Edit</a>
                    <a href="" class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
