.dropdown-toggle, .dropdown-item, .fa-search{
    cursor: pointer;
}

.dropdown-toggle {
    color: white;
}

.profile-avatar {
    max-height: 50px;
    display: inline;
}

.navbar-brand{
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}