<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong style="font-size: 1.2rem;">{{member.knownAs | titlecase}}</strong>
                    <p class="text-secondary">@{{member.username}}</p>
                </div>
                <div *ngIf="member.username != user.username && member.relationTo != 'BLOCKED'">
                    <div class="mb-2 text-success" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                        <i class="fa fa-user-circle"></i> Active
                    </div>
                    <div class="mb-2" *ngIf="!(presence.onlineUsers$ | async).includes(member.username)">
                        <i class="fa fa-clock-o"></i> {{member.lastActive | timeago}}
                    </div>
                </div>
                <div *ngIf="member.relationTo != 'BLOCKED' && (member.city || member.country)">
                    <strong>Location: </strong>
                    <p>{{member.city}}<span *ngIf="member.city && member.country">, </span>{{member.country}}</p>
                </div>
                <div>
                    <strong>Age: </strong>
                    <p>{{member.age}}</p>
                </div>
                <div *ngIf="member.relationTo != 'BLOCKED'">
                    <strong>Member since: </strong>
                    <p>{{member.created | date:'dd. MMM, yyyy.'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <ng-container *ngIf="member.username != user.username && member.relationTo != 'BLOCKED'">
                        <button class="btn btn-primary" (click)="addLike()" *ngIf="member.relationTo === null">
                            <i class="fa fa-heart"></i>   Like</button>
                        <button class="btn btn-primary" (click)="removeLike()" *ngIf="member.relationTo === 'LIKED'">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>   Unlike</button>
                        <button class="btn btn-warning" (click)="selectTab(3)"><i class="fa fa-envelope"></i>   Message</button>
                        <button class="btn btn-danger" (click)="blockUser()"><i class="fa fa-ban" aria-hidden="true"></i>   Block</button>
                    </ng-container>
                    <button class="btn btn-primary" *ngIf="member.username == user.username" routerLink="/member/edit">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>   Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8" >
        <tabset class="member-tabset" #memberTabs [hidden]="member.relationTo === 'BLOCKED'">
            <tab heading="About" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <p *ngIf="!member.introduction" class="text-secondary">Not specified yet.</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
                <p *ngIf="!member.lookingFor" class="text-secondary">Not specified yet.</p>
            </tab>
            <tab heading="Intrests" (selectTab)="onTabActivated($event)">
            <h4>Intrests</h4>
            <p>{{member.interests}}</p>
            <p *ngIf="!member.interests" class="text-secondary">Not specified yet.</p>
        </tab>
        <tab heading="Photos" (selectTab)="onTabActivated($event)">
            <p *ngIf="galleryImages && galleryImages.length < 1" class="text-secondary">No photos yet.</p>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
            style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        </tab>
        <tab heading="Messages" (selectTab)="onTabActivated($event)">
            <app-member-messages *ngIf="member.username != user.username"></app-member-messages>
            <div *ngIf="member.username == user.username" class="btn-group d-flex">
                <button class="btn btn-primary" [routerLink]="['/messages']">Go to messages</button>
            </div>
        </tab>
        </tabset>

        <div *ngIf="member.relationTo === 'BLOCKED'" class="align-self-center">
            <h2 class="text-center"><i class="fa fa-lock" aria-hidden="true"></i>   Unblock To view member photos and details:</h2>
            <div class="d-flex btn-group">
                <button class="btn btn-outline-danger" (click)="unblock()">Unblock</button>
            </div>
        </div>
    </div>
</div>